<article>
  <h1>Add the information</h1>
<div class="center">
  <%= form_with(model: @book, data: { turbo: false }) do |form| %>
<h2>Book Name</h2>
<%= form.text_field :bookname %>


<h2>Description</h2>
<%= form.text_area :description %>

<h2>Page</h2>
<%= form.number_field :page %>

<h2>Price</h2>
<%= form.number_field :price %>
<div>
  <%= form.button :submit %>
</div>
<% end %></div>

</article>

