<h1>Add a new book!</h1>

<%= form_with(model: @book, url: books_path) do |form| %>
  <%= form.label :bookname %>
  <%= form.text_field :bookname %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :page %>
  <%= form.number_field :page %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.submit %>
<% end %>
